
.btn {
    position: center;
    display: block;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: transparent;
    color: #25A6A4;
    font-size: 18px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid #20e2d7;
    z-index: 0;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    animation: shadow-pulse 1000ms 1;
    background-color: #20e2d7;
    color: #434343;
}
